name: Docs
on:
  push:
    branches:
      - main
    paths:
      - "docs/**"

jobs:
  release:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Install Dependencies
        run: uv sync

      - name: Create Release
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          GITHUB_REPO: ${{ github.repository }}
          DOCS_REPO: ${{ secrets.DOCS_REPO }}
        run: uv run python -m poly_hammer_utils.addon.release docs
